<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"
        integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="/view/main.css">

</head>

<body>
    <button class="login">로그인하러가기</button>
    <button class="write">글쓰기</button>

    <br>
    <br>
    <br>
    <br>
    
    <div class="notice-box">

        <div class="content">
            <p style="width: 10%;">번호</p>
            <p style="width: 70%;">제목</p>
            <p style="width: 20%;">작성자</p>
        </div>
        <div id="notice-list" class="notice-list">
    
        </div>
    
        <div id="notice-paging" class="notice-paging">
    
        </div>
    </div>

    <script type="module" src="/view/main.js"></script>
</body>

</html>